@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles can be added below */
@layer base {
  html {
    font-size: calc(16px * 0.7);
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  /* Add reusable component styles here */
}

@layer utilities {
  /* Hidden scrollbar but scrolling works */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
